<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:shop="http://typo3.org/ns/CodingMs/Shop/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<f:section name="Default">

	<f:if condition="{f:count(subject: product.categories)} && {shop:isEnabledField(product: product, attribute: 'categories')}">
		<div class="{settings.detail.css.class.categories.wrapperOuter}">
			<div class="{settings.detail.css.class.categories.wrapper}">
				<h3 class="{settings.detail.css.class.categories.title}">
					<f:translate key="tx_shop_label.categories_headline" />
				</h3>
				<div class="{settings.detail.css.class.categories.content}">
					<ul class="{settings.detail.css.class.categories.items.wrapper}">
						<f:for each="{product.categories}" as="category">
							<f:if condition="{category.image}">
								<f:then>
									<li class="{settings.detail.css.class.categories.items.itemWrapper}">
										<div class="{settings.detail.css.class.categories.items.itemImageWrapper}">
											<f:image src="{category.image.uid}"
													 treatIdAsReference="1"
													 class="{settings.detail.css.class.categories.items.itemImage}" />
										</div>
										<label class="{settings.detail.css.class.categories.items.itemLabel}"
											  title="{category.description -> f:format.stripTags()}">
											{category.title}
										</label>
									</li>
								</f:then>
								<f:else>
									<li class="{settings.detail.css.class.categories.items.itemWrapper}">
										<label class="{settings.detail.css.class.categories.items.itemLabel}"
											   title="{category.description -> f:format.stripTags()}">
											{category.title}
										</label>
									</li>
								</f:else>
							</f:if>
						</f:for>
					</ul>
				</div>
			</div>
		</div>
	</f:if>

</f:section>
</html>
