<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:shop="http://typo3.org/ns/CodingMs/Shop/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<f:section name="Default">

	<f:if condition="{f:count(subject: product.featureIcons)} && {shop:isEnabledField(product: product, attribute: 'featureIcons')}">
		<div class="{settings.detail.css.class.featureIcons.wrapperOuter}">
			<div class="{settings.detail.css.class.featureIcons.wrapper}">
				<h3 class="{settings.detail.css.class.featureIcons.title}">
					<f:translate key="tx_shop_label.feature_icons_headline" />
				</h3>
				<div class="{settings.detail.css.class.featureIcons.content}">
					<f:for each="{product.featureIcons}" as="featureIcon">
						<div class="{settings.detail.css.class.featureIcons.list.wrapper}">
							<div class="{settings.detail.css.class.featureIcons.list.imageWrapper}">
								<f:image src="{featureIcon.uid}"
										 treatIdAsReference="1"
										 alt="{otherImage.originalResource.title}"
										 title="{otherImage.originalResource.title}"
										 class="{settings.detail.css.class.featureIcons.list.image}" />
							</div>
							<f:if condition="{featureIcon.originalResource.description}">
								<div class="{settings.detail.css.class.featureIcons.list.descriptionWrapper}">
									{featureIcon.originalResource.description}
								</div>
							</f:if>
						</div>
					</f:for>
				</div>
			</div>
		</div>
	</f:if>

</f:section>
</html>
