<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:shop="http://typo3.org/ns/CodingMs/Shop/ViewHelpers"
	  data-namespace-typo3-fluid="true">

	<f:section name="H1">

		<h1 class="{settings.detail.css.class.headline.title}">{product.title}</h1>
		<f:if condition="{product.subtitle}">
			<h2 class="{settings.detail.css.class.headline.subtitle}">{product.subtitle}</h2>
		</f:if>

	</f:section>

	<f:section name="H2">

		<h2 class="{settings.detail.css.class.headline.title}">{product.title}</h2>
		<f:if condition="{product.subtitle}">
			<h3 class="{settings.detail.css.class.headline.subtitle}">{product.subtitle}</h3>
		</f:if>

	</f:section>

	<f:section name="H3">

		<h3 class="{settings.detail.css.class.headline.title}">{product.title}</h3>
		<f:if condition="{product.subtitle}">
			<h4 class="{settings.detail.css.class.headline.subtitle}">{product.subtitle}</h4>
		</f:if>

	</f:section>
</html>
