<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:shop="http://typo3.org/ns/CodingMs/Shop/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<f:section name="Default">

	<f:if condition="{f:count(subject: product.otherImages)} && {shop:isEnabledField(product: product, attribute: 'otherImages')}">
		<div class="{settings.detail.css.class.otherImages.wrapperOuter}">
			<div class="{settings.detail.css.class.otherImages.wrapper}">
				<h3 class="{settings.detail.css.class.otherImages.title}">
					<f:translate key="tx_shop_label.other_images" />
				</h3>
				<f:for each="{product.otherImages}" as="otherImage">
					<div class="{settings.detail.css.class.otherImages.list.wrapper}">
						<div class="{settings.detail.css.class.otherImages.list.imageWrapper}">
							<f:image src="{otherImage.uid}"
									 treatIdAsReference="1"
									 alt="{otherImage.originalResource.title}"
									 title="{otherImage.originalResource.title}"
									 class="{settings.detail.css.class.otherImages.list.image}" />
						</div>
						<f:if condition="{otherImage.originalResource.description}">
							<div class="{featureIcon.originalResource.description}">
								{otherImage.originalResource.description}
							</div>
						</f:if>
					</div>
				</f:for>
			</div>
		</div>
	</f:if>

</f:section>
</html>
