<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:shop="http://typo3.org/ns/CodingMs/Shop/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<f:section name="Default">

	<f:if condition="{f:count(subject: product.questionCategories)} && {shop:isEnabledField(product: product, attribute: 'questionCategories')}">
		<div class="{settings.detail.css.class.questionCategories.wrapperOuter}">
			<div class="{settings.detail.css.class.questionCategories.wrapper}">
				<h3 class="{settings.detail.css.class.questionCategories.title}"><f:translate key="tx_shop_label.questions_headline" /></h3>
				<f:for each="{product.questionCategories}" as="questionCategory">
					<f:if condition="{f:count(subject: questionCategory.questions)}">
						<h4 class="{settings.detail.css.class.questionCategories.subtitle}">{questionCategory.title}</h4>
						<dl class="{settings.detail.css.class.questionCategories.list.wrapper}">
							<f:for each="{questionCategory.questions}" as="question">
								<dt class="{settings.detail.css.class.questionCategories.list.label}">{question.question}</dt>
								<dd class="{settings.detail.css.class.questionCategories.list.value}"><f:format.raw>{question.answer}</f:format.raw></dd>
							</f:for>
						</dl>
					</f:if>
				</f:for>
			</div>
		</div>
	</f:if>

</f:section>
</html>
