<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:shop="http://typo3.org/ns/CodingMs/Shop/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<f:section name="Default">

	<f:if condition="{shop:isEnabledField(product: product, attribute: 'relatedProducts')} && {f:count(subject: product.relatedProducts)}">
		<div class="{settings.detail.css.class.relatedProducts.wrapper}">
			<div class="{settings.detail.css.class.relatedProducts.header}">
				<h2 class="{settings.detail.css.class.relatedProducts.headerHeadline}"><f:translate key="tx_shop_label.related_products" /></h2>
				<p class="{settings.detail.css.class.relatedProducts.headerDescription}"><f:translate key="tx_shop_label.related_products_description" /></p>
			</div>
			<div class="{settings.detail.css.class.relatedProducts.itemsWrapper}">
				<f:for each="{product.relatedProducts}" as="relatedProduct" iteration="itemIterator">
					<f:if condition="{itemIterator.cycle} <= {relatedProductsLimit}">
						<div class="{settings.detail.css.class.relatedProducts.itemOuter}">
							<div class="{settings.detail.css.class.relatedProducts.itemInner} {product.cssClasses} {additionalCssClasses}">
								<f:render partial="Product/List/Item/RelatedProduct"
										  arguments="{product: relatedProduct, settings: settings, session: session}"
										  section="Default" />
							</div>
						</div>
					</f:if>
				</f:for>
			</div>
		</div>
	</f:if>

</f:section>
</html>
