<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
	<f:section name="Default">

		<f:variable name="selected" value="" />
		<f:for each="{session.{content.pid}.filter.category.values}" iteration="selectedIterator" as="categoryValue">
			<f:if condition="{selectedIterator.isFirst}">
				<f:variable name="selected" value="{categoryValue}" />
			</f:if>
		</f:for>

		<div class="{settings.filter.css.class.category.wrapper}">
			<label class="{settings.filter.css.class.category.label}" for="product-list-filter-category">
				<f:translate key="tx_shop_label.category_label" />
			</label>
			<f:form.select name="category"
						   options="{settings.filter.category.options}"
						   prependOptionLabel="{f:translate(key: 'tx_shop_label.categories_first_select')}"
						   prependOptionValue=""
						   optionLabelField="title"
						   optionValueField="uid"
						   id="product-list-filter-category"
						   class="{settings.filter.css.class.category.select}"
						   value="{selected}" />
		</div>

	</f:section>
</div>
