<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
	<f:section name="Default">

		<f:variable name="selected" value="" />
		<f:for each="{session.{content.pid}.filter.tag.values}" iteration="selectedIterator" as="tagValue">
			<f:if condition="{selectedIterator.isFirst}">
				<f:variable name="selected" value="{tagValue}" />
			</f:if>
		</f:for>

		<div class="{settings.filter.css.class.tagSingle.wrapper}">
			<label class="{settings.filter.css.class.tagSingle.label}" for="product-list-filter-tag-single">
				<f:translate key="tx_shop_label.tags_label" />
			</label>
			<f:form.select name="tag"
						   options="{settings.filter.tag.options}"
						   prependOptionLabel="{f:translate(key: 'tx_shop_label.tags_first_select')}"
						   prependOptionValue=""
						   optionLabelField="title"
						   optionValueField="uid"
						   id="product-list-filter-tag-single"
						   class="{settings.filter.css.class.tagSingle.select}"
						   value="{selected}" />
		</div>

	</f:section>
</div>
