<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
	<f:section name="Default">

		<div class="{settings.filter.css.class.word.wrapper}">
			<label class="{settings.filter.css.class.word.label}" for="product-list-filter-word">
				<f:translate key="tx_shop_label.search_word_label" />
			</label>
			<f:form.textfield name="word" value="{settings.filter.word.value}"
							  class="{settings.filter.css.class.word.field}" id="product-list-filter-word"
							  placeholder="{f:translate(key: 'tx_shop_label.search_word_placeholder')}" />
		</div>

	</f:section>
</div>
