<html data-namespace-typo3-fluid="true" lang="en"
	  xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:shop="http://typo3.org/ns/CodingMs/Shop/ViewHelpers">
<f:layout name="Default" />
<f:section name="Main">
	<f:comment>
		<f:flashMessages />
	</f:comment>
	<div class="shop-basketorder-success">
	<div class="shop-basketorder-success">
	<h1><f:translate key="tx_shop_message.ok_order_successful" /></h1>
	<h2><f:translate key="tx_shop_label.order_id" />: {request.basketOrder}</p>
	</div>
	</div>

</f:section>
</html>
