<html data-namespace-typo3-fluid="true" lang="en"
	  xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

	<f:if condition="{settings.basket.pid} == 0">
		<div class="{settings.alerts.css.class.danger}">Please define the basket page uid!</div>
	</f:if>

	<f:link.page pageUid="{basketPid}" class="{settings.buttons.headerBasket.class}"
				 title="{f:translate(key: 'tx_shop_label.basket_button_title')}">
		{settings.buttons.headerBasket.icon -> f:format.raw()}
		<span class="{settings.buttons.headerBasket.classLabel}"><f:translate key="tx_shop_label.basket_button_label" /></span>
		<span class="{settings.buttons.headerBasket.classBadge}">
			<span class="basket-item-count" data-count="{basketItemCount}">{basketItemCount}</span>
			<f:if condition="{basketItemCount} == 1">
				<f:comment><!-- singular --></f:comment>
				<f:then>
					<span class="basket-item-label singular">
						<f:translate key="tx_shop_label.basket_item_singular" />
					</span>
					<span class="basket-item-label plural" style="display:none">
						<f:translate key="tx_shop_label.basket_item_plural" />
					</span>
				</f:then>
				<f:comment><!-- plural --></f:comment>
				<f:else>
					<span class="basket-item-label singular" style="display:none">
						<f:translate key="tx_shop_label.basket_item_singular" />
					</span>
					<span class="basket-item-label plural">
						<f:translate key="tx_shop_label.basket_item_plural" />
					</span>
				</f:else>
			</f:if>
		</span>
	</f:link.page>

</html>
