<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:shop="http://typo3.org/ns/CodingMs/Shop/ViewHelpers"
	  data-namespace-typo3-fluid="true">
	<f:section name="Default">

		<f:link.page pageUid="{settings.basket.pid}" class="{settings.buttons.backToBasket.class}"
					 title="{f:translate(key: 'tx_shop_label.back_to_basket_button_label')}">
			{settings.buttons.backToBasket.icon -> f:format.raw()} <f:translate key="tx_shop_label.back_to_basket_button_label" />
		</f:link.page>

	</f:section>
</html>
