<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:shop="http://typo3.org/ns/CodingMs/Shop/ViewHelpers"
	  data-namespace-typo3-fluid="true">
	<f:section name="Default">

		<f:if condition="{settings.pro} && {settings.bookmarks.active}">
			<div class="product-bookmarks {settings.buttons.bookmarks.wrapper}">
				<f:variable name="bookmarked" value="" />
				<f:if condition="{session.bookmarks.items.{product.uid}} > 0">
					<f:variable name="bookmarked" value="checked=\"checked\"" />
				</f:if>
				<div class="{settings.buttons.bookmarks.wrapperInner}">
					<input class="{settings.buttons.bookmarks.checkbox}"
						   type="checkbox"
						   name="product"
						   id="product-bookmark-button-{product.uid}"
						   value="{product.uid}"
						   role="switch"
						   data-product-bookmark-item-uid="{product.uid}"
						   aria-label="{f:translate(key: 'tx_shop_label.remind_product')}"
						   {bookmarked -> f:format.raw()}>
					<label class="{settings.buttons.bookmarks.label}" for="product-bookmark-button-{product.uid}">
						<f:translate key="tx_shop_label.remind_product" />
					</label>
				</div>
			</div>
		</f:if>

	</f:section>
</html>
