<f:section name="Default">
	<f:if condition="{settings.pro} && {settings.bookmarks.active}">
		<div class="product-compare-button">

			<f:variable name="bookmarksAvailable" value="display:none" />
			<f:if condition="{session.bookmarks.count} > 0">
				<f:variable name="bookmarksAvailable" value="" />
			</f:if>
			<f:variable name="noBookmarksAvailable" value="" />
			<f:if condition="{session.bookmarks.count} > 0">
				<f:variable name="noBookmarksAvailable" value="display:none" />
			</f:if>

			<div class="bookmarks-available" style="{bookmarksAvailable}">

				<f:if condition="{settings.bookmarks.compare.pid} == 0">
					<div class="{settings.alerts.css.class.danger}">Please define a page uid for bookmaks/compare view!</div>
				</f:if>

				<f:link.page pageUid="{settings.bookmarks.compare.pid}" class="{settings.buttons.compare.class} product-compare-button"
							 title="{f:translate(key: 'tx_shop_label.button_product_compare_title')}">
					{settings.buttons.compare.icon -> f:format.raw()} <span class="compare-label"><f:translate key="tx_shop_label.button_product_compare_label"/></span>
					<small class="compare-count-label">
						<f:if condition="{session.bookmarks.count} == 1">
							<f:then>
								(<i class="bookmarks-count">{session.bookmarks.count}</i>
								<i class="bookmarks-count-single"><f:translate key="tx_shop_label.product"/></i>
								<i class="bookmarks-count-multiple" style="display:none"><f:translate key="tx_shop_label.products"/></i>)
							</f:then>
							<f:else>
								(<i class="bookmarks-count">{session.bookmarks.count}</i>
								<i class="bookmarks-count-single" style="display:none"><f:translate key="tx_shop_label.product"/></i>
								<i class="bookmarks-count-multiple"><f:translate key="tx_shop_label.products"/></i>)
							</f:else>
						</f:if>
					</small>
				</f:link.page>
			</div>
			<div class="no-bookmarks-available" style="{noBookmarksAvailable}">
				<!-- in case of no items bookmarked, show anything -->
			</div>

		</div>
	</f:if>
</f:section>
