<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:shop="http://typo3.org/ns/CodingMs/Shop/ViewHelpers"
	  data-namespace-typo3-fluid="true">
	<f:section name="Default">
		<f:if condition="{settings.pro} && {settings.pdf.product.active}">
			<shop:variable.set name="linkTitlePdf" value="{f:translate(key: 'tx_shop_label.button_create_product_pdf_title', arguments: linkTitleArguments)}" />
			<f:link.action action="show"
						   arguments="{product: product, createPdf: 1}"
						   target="_blank"
						   title="{linkTitlePdf}"
						   class="{settings.buttons.createPdf.class}">
				{settings.buttons.createPdf.icon -> f:format.raw()} <f:translate key="tx_shop_label.button_create_product_pdf_label" />
			</f:link.action>
		</f:if>
	</f:section>
</html>
