<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:shop="http://typo3.org/ns/CodingMs/Shop/ViewHelpers"
	  data-namespace-typo3-fluid="true">
	<f:section name="Default">

		<a href="#" onclick="Shop.goBackAndRefresh(); return false"
		   class="{settings.buttons.historyBack.class}"
		   title="{f:translate(key: 'tx_shop_label.back_button_title')}">
			{settings.buttons.historyBack.icon -> f:format.raw()} <f:translate key="tx_shop_label.back_button_label" />
		</a>

	</f:section>
</html>
