<f:section name="Default">
	<f:link.action action="detail"
				   arguments="{basketOrder: basketOrder}"
				   title="{f:translate(key: 'tx_shop_label.order_detail_button', extensionName: 'Shop')}"
				   class="{settings.buttons.orderDetail.class}">
		{settings.buttons.orderDetail.icon -> f:format.raw()} <f:translate key="tx_shop_label.order_detail_button" extensionName="Shop" />
	</f:link.action>
</f:section>
