<f:section name="Default">

	<a href="{invoice.hosted_invoice_url}"
	   class="{settings.buttons.subscriptionInvoiceStripeHosted.class}"
	   title="{f:translate(key: 'tx_shop_label.subscription_invoices_action_show_hosted', extensionName: 'Shop')}"
	   target="_blank">
		{settings.buttons.subscriptionInvoiceStripeHosted.icon -> f:format.raw()} <f:translate key="tx_shop_label.subscription_invoices_action_show_hosted" extensionName="Shop" />
	</a>

</f:section>
