<thead>
	<tr>
		<th class="article-column"><f:translate key="tx_shop_label.article" /></th>
		<th class="product-no-column"><f:translate key="tx_shop_label.product_no_short" /></th>
		<th class="quantity-column"><f:translate key="tx_shop_label.quantity" /></th>
		<th class="single-price-column text-end"><f:translate key="tx_shop_label.single_price" /></th>
		<th class="price-tax-column text-end">
			<f:if condition="{settings.basket.displayType} == 'b2c'">
				<f:then>
					<f:translate key="tx_shop_label.incl" /> <f:translate key="tx_shop_label.tax" />
				</f:then>
				<f:else>
					<f:translate key="tx_shop_label.tax" />
				</f:else>
			</f:if>
		</th>
		<th class="price-amount-column text-end"><f:translate key="tx_shop_label.price" /></th>
		<f:if condition="{editable}">
			<th class="actions-column"></th>
		</f:if>
	</tr>
</thead>
