<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:shop="http://typo3.org/ns/CodingMs/Shop/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<f:if condition="{shop:isEnabledField(product: product, attribute: 'offer')}">

	<dt class="{settings.detail.css.class.details.label}">
		<f:translate key="tx_shop_label.offer_rebate_value"/>
	</dt>
	<dd class="{settings.detail.css.class.details.value}">
		<f:render partial="Price" arguments="{settings: settings, price: product.offerRebateValueAsFloat}"/>
	</dd>

</f:if>
</html>
