<dt class="{settings.detail.css.class.details.label}">
	<f:translate key="tx_shop_label.price"/>
</dt>
<dd class="{settings.detail.css.class.details.value}">
	<f:variable name="price">{f:if(condition: '{settings.basket.displayType} == "b2b"', then:
		'{product.priceAsFloat}', else: '{product.priceWithTaxAsFloat}')}
	</f:variable>
	<f:render partial="Price" arguments="{settings: settings, price: price}"/>
</dd>
