<dt class="{settings.detail.css.class.details.label}">
	<f:translate key="tx_shop_label.tax"/>
</dt>
<dd class="{settings.detail.css.class.details.value}">
	<f:render partial="Percent" arguments="{settings: settings, percent: product.taxAsFloat}"/>
</dd>
